---
layout: default
title : Curriculum Vitae
navbar_title: CV
---

<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <h3 class="mb-4">Curriculum Vitae</h3>
                {% if site.data.profile.cv_link %}
                <p>
                    <a class="btn btn-primary" target="_blank" href="{{ site.data.profile.cv_link | relative_url }}">
                        <i class="fas fa-file-alt"></i> Open CV
                    </a>
                </p>
                {% assign cv_url = site.data.profile.cv_link %}
                {% if cv_url contains '.pdf' %}
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="{{ cv_url | relative_url }}" allowfullscreen></iframe>
                </div>
                {% endif %}
                {% else %}
                <p>Please set <code>cv_link</code> in <code>_data/profile.yml</code> to your CV file (e.g., /assets/cv.pdf).</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


